version: "2.3"
services:
  gmod-server:
    volumes:
    - type: bind
      source: ./gmod/gmodserver/garrysmod/cfg/server.cfg
      target: /home/gmod/gmodserver/garrysmod/cfg/server.cfg
    mem_reservation: 2048m
    build:
      context: .
    env_file:
      - vars.env
    ports:
      - "27015:27015/udp"
      - "27005:27005/udp"
      - "27015:27015"
      - "27005:27005"
